{% extends 'base.html.twig' %}

{% block title %}ERROR
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.error-message {
			background-color: #000;
			color: #ff0000;
			padding: 20px;
			border-radius: 5px;
		}

		.error-message h1 {
			color: #ff0000;
		}

		.error-message p {
			color: #fff;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="error-message">
		<h1>Acceso denegado</h1>
		<p>Ha ocurrido un error.</p>
	</div>
{% endblock %}
